PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/worktrack
USE_MEMORY_DB=true
JWT_SECRET=change-me-in-production
JWT_REFRESH_SECRET=change-me-refresh-in-production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
